{
   "singleQuote": false,
   "tabWidth": 3,
   "semi": true,
   "useTabs": false,
   "trailingComma": "all",
   "bracketSpacing": true,
   "jsxBracketSameLine": true,
   "arrowParens": "avoid",
   "requirePragma": true,
   "endOfLine": "auto",
   "react/jsx-max-props-per-line": [1, { "when": "always" }]
}
